@import url('https://fonts.googleapis.com/css?family=Laila&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/997719/pexels-photo-997719.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}
.container {
  position: relative;
  top: 15%;
}
 h1 {
  font-family: 'Laila', serif;
  width: 50%;
  margin: 0 auto;
  background-color: #a3b8b9b3;
  border: 2px solid #5b5c5799;
  border-radius: 10px 10px 0 0;
  padding: 15px 0;

}  

a {
  text-decoration: none;
}

.btn-style {
  color:#7e2c32;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid#7e2c32;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  float: right;
}