@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/531321/pexels-photo-531321.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;

}
/* HEADER */
header {
  width: 100vw;
  font-size: 18px;
  padding: 15px 0;
  position: fixed;
  top: 0;
}
.container {
position: relative;
top: 15%;
/* transform: translateY(30%); */
text-align: left;
}
.rounded-edges {
  border-radius: 5px;
}
/* START PAGE */
.start-page {
  position: relative;
  top:15%;
  font-size: 70px;
}
.start-page p{
  font-size: 40px;
  font-style: italic;
  font-family: none;
}

@media screen and (min-width: 900px) {
  .start-page {
    top: 20%;
  }
}

/* LINK */
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin: 15px;
  letter-spacing: 2px;
}
/* FORM STYLE */
form input {
  width: 65%;
  padding: 5px;
}
form input:last-of-type{
  width: 30%;
}
input[type=checkbox] {
  display: none
}
label {
  cursor: pointer;
}
/* LIST DECORATION */
.list-decoration {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background-color: #a3b8b9b3;
  border-bottom: 2px solid #5b5c5799;
  border-right: 2px solid #5b5c5799;
  border-left: 2px solid #5b5c5799;
  color: #000;
  display: flex;
  justify-content: space-between;
}
.list-decoration:first-child {
  border: 2px solid #5b5c5799; 
  border-radius: 10px 10px 0 0;
}
.list-decoration label {
  font-size: 18px;
  margin: 0 15px;
}
/* BUTTONS */
.btn {
  padding: 5px 10px;
  background-color: transparent;
  font-weight: bold;
  float: right;
  cursor: pointer;
}
/* SUBMIT */
.submit-btn {
  border: 1px solid #7E2C4B;
  color: #7E2C4B;
}
.submit-btn:disabled {
  opacity: .5;
}
/* DELETE */
.delete-btn {
  height: 30px;
  border: 1px solid#7e2c32;
  margin-left: 10px;
  color:#7e2c32;
}
/* ACTIVE */
.submit-btn:active, .delete-btn:active {
  background-color: #7E2C4B;
  color: #829494;
  border: none;
}

/* ABOUT */
.about {
  position: relative;
  top: 15%;
  font-size: 30px;
}